header {
    text-align: center;
    background-color: rgb(75, 75, 75);
    padding: 15px;
    color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.192);
}

.container-main {
    display: flex;
}

.aside-modal {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    padding: 40px;
}

.main-table {
    width: 70%;
    padding: 40px;
}

.card {
    margin-bottom: 40px;
}